@theme inline {
  --krgz-cm-line-highlight-color-light: var(--color-yellow-100);
  --krgz-cm-line-highlight-color-dark: var(--color-olive-900);
}

@layer base {
  :root {
    --krgz-cm-line-highlight-color: var(--krgz-cm-line-highlight-color-light);
  }

  .dark {
    --krgz-cm-line-highlight-color: var(--krgz-cm-line-highlight-color-dark);
  }
}

@layer components {
  .krgz-sandbox :is(*, *::after, *::before) {
    border-color: hsl(var(--border));
  }

  /* For modern browsers */
  .krgz-tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .krgz-tabs::-webkit-scrollbar-thumb {
    background-color: currentColor;
  }

  .krgz-tabs::-webkit-scrollbar-track {
    background: transparent;
  }

  /* For Firefox */
  .krgz-tabs* {
    scrollbar-width: thin;
    scrollbar-color: currentColor transparent;
  }
}
