@import "@karagoz/shared/dist/karagoz-shared.css";
@import "@karagoz/sandbox/dist/karagoz-sandbox.css";
@import "tailwindcss";

@source "../../../../packages/shared/src";
@source "../../../../packages/sandbox/src";
@source "../../../../packages/puppeteer/src";

@plugin "@tailwindcss/typography";

@layer components {
  .prose {
    --tw-prose-invert-pre-bg: #1f2937;
  }
}

@layer utilities {
  .border-border {
      border-color: hsl(var(--border));
  }
  .external::after {
    content: ' ↗';
  }
}
